.btn-history {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.199) !important;
	transition: all 0.3s ease;
}

.btn-history:hover {
  background-color: transparent !important;
  color: #fff !important;
}
